
* text=auto eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.nupkg binary
*.snk binary
*.pfx binary
*.xls binary
*.xlsx binary
*.doc binary
*.docx binary
*.ppt binary
*.pptx binary
